# ==========================================
# OniPlayer Base Git Ignore (Monorepo Root)
# ==========================================

# --- System Files ---
.DS_Store
Thumbs.db
*.bak
*.tmp
*.log

# --- Root IDE configs (If opening the whole workspace) ---
.vscode/
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionary.xml
.idea/caches/
.idea/libraries/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.iml
