# Core Dependencies
PyQt6==6.8.0
PyQt6-Qt6==6.8.1
PyQt6-sip==13.9.1
python-vlc==3.0.21203
pywin32==306

# PyInstaller and Dependencies
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
packaging==24.2
altgraph==0.17.4
pefile==2023.2.7

