# ==========================================
# OniPlayer Linux Git Ignore (Python/PyQt/VLC)
# ==========================================

# Compiled bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# PyInstaller build outputs
build/
dist/
*.spec

# Built packages & metadata
develop-eggs/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments (local packages)
.venv/
venv/
ENV/
env/
active_env/

# VLC build artifacts (temporary)
vlc/

# VLC_engine
vlc_engine/

# IDE files created by editors inside this folder
.vscode/
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionary.xml
.idea/caches/
.idea/libraries/

# Compiled Linux packages/bins
OniPlayer
OniPlayer.bin

# System files
.DS_Store
*~
*.swp
*.swo

# Log files
*.log
